.resp-container {
  display: flex;
  flex-direction: row;
}
.profile-img-container {
  width: 15rem;
  height: 15rem;
  margin-right: 2.5rem;
}
.profile-img {
  padding: 0rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 100%;
}
.typical-container {
  width: 30rem;
  margin-left: 0rem;
  margin-right: 5rem;
}
.typical {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}
.btn {
  width: 12rem;
}
// Small Sized Screen
@media (max-width: 576px) {
  .profile-img-container {
    width: 6rem;
    height: 6rem;
    margin-left: -7rem;
  }
  .typical {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.7rem;
    // width: 15rem;
  }
}
@media (max-width: 576px) and (orientation: portrait) {
  .resp-container {
    display: contents;
  }
  .typical {
    font-size: 0.7rem;
  }
  .typical-container {
    width: 16rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 0rem;
  }
  .home-btns {
    flex-direction: column !important;
  }
  .btn {
    font-size: 0.7rem;
    width: 15rem;
  }
}
@media (max-width: 576px) and (orientation: landscape) {
  .home {
    flex-direction: row;
  }
  .resp-container {
    margin-bottom: 1rem;
  }
  .profile-img-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .typical-container {
    width: 18rem;
    margin-right: 0rem;
    // margin-left: 1rem;
  }
  .typical {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
  }
  .btn {
    font-size: 0.7rem;
    width: 11rem;
    margin-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
  .about-btn {
    margin-right: 1.5rem;
  }
}
