.profile-img {
  padding: 0rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 100%;
}
.profile-img-container {
  margin-left: 10rem;
  width: 10rem;
  height: 10rem;
}
.typical-container {
  width: 30rem;
  margin-left: 10rem;
}
