html {
  font-size: 1rem;
}
.sub {
  font-size: 1rem;
}
.content {
  font-size: 1rem;
}
.btn {
  //font-size: 0.7rem;
}
@media (max-width: 576px) {
  .sub {
    font-size: 1rem;
  }

  .content {
    font-size: 0.7rem;
  }
  .btn {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) and (orientation: portrait) {
  .sub {
    font-size: 1rem;
  }
  //   .content {
  //     font-size: 1rem;
  //   }
}
@media (max-width: 576px) and (orientation: landscape) {
  .sub {
    font-size: 1rem;
  }
  //   .content {
  //     font-size: 1rem;
  //   }
}
