// html font sizes
// html {
//   font-size: 1rem;
// }

// Small to Medium Sized Media
@media (max-width: 768px) {
  .navbar-link {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .navbar-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .navbar-title {
    font-size: 1rem;
  }
}
// Medium to Large Sized Media
@media (max-width: 922px) {
  .navbar-link {
    //font-size: 1.2rem;
  }
}
@media (max-width: 922px) and (orientation: portrait) {
  .navbar-title {
    //font-size: 1.6rem;
  }
}
@media (max-width: 922px) and (orientation: landscape) {
  .navbar-title {
    //font-size: 1rem;
  }
}

.navbar-title:hover {
  text-decoration: none;
}
.navbar-link {
  margin-right: 2rem;
  transition: 1s;
}
.navbar-link:hover {
  text-decoration: none;
  text-decoration: overline 0.2rem;
  // text-underline-offset: .5rem;
}
.link {
  outline: none;
}
