// .navbar-title {
// }
.navbar-title:hover {
  text-decoration: none;
}
.navbar-link {
  margin-right: 2rem;
}
.navbar-link:hover {
  text-decoration: none;
  text-decoration: underline white solid 0.2rem;
}
