.navbar {
  margin-top: 1rem;
  padding-left: 3rem;
}
.navbar-title:hover,
.navbar-link:active {
  text-decoration: none;
}
.navbar-link {
  margin-right: 2rem;
  transition: 1s;
}
.navbar-link:hover {
  text-decoration: none;
  text-decoration: overline 0.2rem;
  // text-underline-offset: .5rem;
}
.link {
  outline: none;
}
// Small to Medium Sized Media
@media (max-width: 576px) {
  .navbar-link {
    font-size: 1.3rem;
  }
  .navbar {
    margin-top: 1rem !important;
    padding-top: 0rem;
  }
}
@media (max-width: 576px) and (orientation: portrait) {
  .navbar {
    padding-left: 2rem;
  }
  .navbar-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) and (orientation: landscape) {
  .navbar {
    padding-left: 2rem;
  }
  .navbar-title {
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
}
